*{
    margin:0;
    border:border-box;
    font-family: airal;
}
.nav-bar{
    height: 80px;
    background-color:#0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}


.nav-logo{
    height: 50px;
    width: 120px;
}

.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width:120px;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.6px solid white;
}

.add-text1{
    font-size:1rem;
    color:#cccccc;
    margin-left: 16px;
}

.add-text2{
    font: 1.2rem;
}

.address-icon{
    display: flex;
    margin-left: 16px;

}
.nav-search{
    display: flex;
    background-color: #cccccc;
    width: 620px;
    height: 40px;
    border-top-left-radius: 3.5px;
    border-bottom-left-radius:3.5px ;
    margin-left: 16px;
    justify-content: space-evenly;
}
.search-select{
    color: #6d6464;
    border-top-left-radius: 3.5px;
    border-bottom-left-radius:3.5px ;
    width:50px;
    text-align: center;
    border:none;
}
.search-input{
    width: 100%;
    font-size:1rem;
    border:none;

}
.search-icon{
    background-color: rgb(241, 241, 91);
    font-size: 1.2rem;
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #0f1111;
    border-top-left-radius: 3.5px;
}

.nav-search:hover{
    border:2px solid orange;
}

.nav-flage{
    justify-content: center;
} 

span{
    text-align: center;
}

.add-text3{
    font-size: 12px;
}

.add-text4{
    font: size 14px;
    font-weight:bolder;
    
}

.nav-cart i {
    font-size: 30px;
    color: white;

}

.nav-cart{
    font-size:0.83rem;
}

.panel{
    background-color: #232f3e;
    height:39px;
    justify-content: center;

}
.panel-sub{
    color: white;
    font-size: 14px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    
}
.panel-sub{
    justify-content:space-evenly;
    align-items: center; 
    text-align: center;
    color: white;

}

.panel-sub span:hover{
    border:1.5px solid white;
}